<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div id="container" *ngIf="!showResult">
    <div class="center">
      <h1>{{title}}</h1>
    </div>
    <div>
      <form #customerMeetingForm="ngForm">

        <ion-label>Tipo de servicio</ion-label>
        <ion-list radio-group name="genre" [(ngModel)]="genre" required>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Hombre</ion-label>
                <ion-icon name="man" item-left></ion-icon>
                <ion-radio name="man" value="Hombre" (ionSelect)="getServicesByGenre()">Él
                </ion-radio>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label>Mujer</ion-label>
                <ion-icon name="woman" item-left></ion-icon>Ella
                <ion-radio name="woman" value="Mujer" (ionSelect)="getServicesByGenre()"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>


        <ion-label>Servicio</ion-label>
        <div class="div-input">
          <ion-item>
            <ion-label>Servicio</ion-label>
            <ion-select name="service" [(ngModel)]="serviceModel" [disabled]="genre == undefined" style="text-align: left; max-width: 100%"
              required>
              <ion-option *ngFor="let service of this.serviceList" [value]="service">{{service.name}}</ion-option>
            </ion-select>
          </ion-item>
        </div>

        <ion-label>Fecha</ion-label>
        <div class="div-input">
          <ion-item>
            <ion-datetime displayFormat="DD/MM/YYYY" name="date" [(ngModel)]="this.dateModel" style="text-align: right; max-width: 100%"
              required></ion-datetime>
          </ion-item>
        </div>

        <ion-row>
          <ion-col>
            <button ion-button block large color="secondary" (click)="searchAvaiableAppointments()" [disabled]="!customerMeetingForm.valid">
              <ion-icon name="search"></ion-icon>
              Buscar Cita
            </button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>

  <div *ngIf="showResult">

    <div *ngIf="(this.avaiableAppointmentList)?.length!=0">
      <ion-card *ngFor="let appointment of this.avaiableAppointmentList">
        <ion-card-content>
          <h1><b>Fecha: {{appointment.date | date: 'dd/MM/yyyy'}}</b></h1>
          <h2><b>{{appointment.initialHour == 0 ? '00' : appointment.initialHour}}:{{appointment.initialMinute == 0 ?
              '00' : appointment.initialMinute}} -
              {{appointment.finalHour == 0 ? '00' : appointment.finalHour}}:{{appointment.finalMinute == 0 ? '00' :
              appointment.finalMinute}}</b></h2>
          <div *ngIf="appointment.customerId == undefined">
            <b>
              <h1 style="color:green">LIBRE</h1>
            </b>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="(this.avaiableAppointmentList)?.length==0">
      <ion-card style="background: firebrick; padding: 10px">
        <div class="center card-title">
          <h2 style="color:white">NO HAY NINGUNA CITA DISPONIBLE</h2>
        </div>
      </ion-card>
    </div>

    <ion-row>
      <ion-col>
        <button ion-button block large color="warning" (click)="showResult = !showResult">
          <ion-icon name="arrow-left"></ion-icon>
          Volver
        </button>
      </ion-col>
    </ion-row>
  </div>



</ion-content>