page-customer-appointment {
  
    .div-input {
        border-style: solid;
        border-color: rgb(71, 71, 71);

        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 5px;
        margin-bottom: 10px;  
    }

}
