<ion-header>
  <ion-navbar color="primary" hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Gestión de Empleados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar [(ngModel)]="searchInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <ion-card *ngFor="let employee of this.userProvider.employeeList" (click)="editEmployee(employee)">
    <ion-card-content>
      <h1><b>{{ employee.name }} {{ employee.lastname }}</b></h1>
      <div class="card-subtitle">Teléfono: <b>{{ employee.phone }}</b></div>
      <div class="card-subtitle">Email: <b>{{ employee.email }}</b></div>
      <div class="card-subtitle">Sexo: <b>{{ employee.genre }}</b></div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="this.userProvider.employeeList.length == 0" class="background-red">
    <ion-card-content>
      <h1><b>No existen resultados</b></h1>
    </ion-card-content>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="addEmployee()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>