<ion-header>
  <ion-navbar color="primary" hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Gestión de Citas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row *ngIf="!hideOptions">
    <ion-col>
      <button ion-button block large color="light" (click)="showGenerateMeeting()">
        {{generateMeetingButtonTitle}}
      </button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!hideOptions">
    <ion-col>
      <button ion-button block large color="light" (click)="searchMeeting()">
        {{searchMeetingButtonTitle}}
      </button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!hideOptions">
    <ion-col>
      <button ion-button block large color="light" (click)="showAllMeetings()">
        {{showAllMeetingButtonTitle}}
      </button>
    </ion-col>
  </ion-row>

  <div *ngIf="showGenerateMeetingContent">
    <ion-row>
      <ion-col>
        <ion-label>Fecha Desde</ion-label>
        <div>
          <ion-item>
            <ion-datetime class="date" displayFormat="DD/MM/YYYY" name="initialDate" [(ngModel)]="this.initialDateModel"
              required></ion-datetime>
          </ion-item>
        </div>
      </ion-col>

      <ion-col>
        <ion-label>Fecha Hasta</ion-label>
        <div>
          <ion-item>
            <ion-datetime class="date" displayFormat="DD/MM/YYYY" name="finalDate" [(ngModel)]="this.finalDateModel"
              required></ion-datetime>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Centro</ion-label>
        <div>
          <ion-item>
            <ion-label>Centro</ion-label>
            <ion-select name="company" [(ngModel)]="company" class="date" style="text-align: left; max-width: 100%"
              required>
              <ion-option *ngFor="let c of this.companyList" [value]="c">{{c.name}}</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Excluir días no laborables: <i>{{company != undefined ? company.noWorkingDays: ""}}</i></ion-label>
          <ion-checkbox name="excludeNoWorkingDays" value="true" [(ngModel)]="excludeNoWorkingDays"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button block large color="warning" (click)="showGenerateMeeting()">
          <ion-icon name="arrow-back"></ion-icon>
          Volver
        </button>
      </ion-col>

      <ion-col>
        <button ion-button block large color="secondary" (click)="generateAppointment()">
          Generar Citas
        </button>
      </ion-col>
    </ion-row>
  </div>


  <div *ngIf="showAllMeetingsContent">
    <ion-row style="position: sticky; top: 0;
    left: 100%;
    right: 0;
    z-index: 9999;">
      <ion-col>
        <button ion-button block large color="warning" (click)="showAllMeetings()">
          Volver
        </button>
      </ion-col>
    </ion-row>

    <div>
      <ion-card *ngFor="let appointment of this.appointmentPProvider.appointmentList">
        <ion-card-content>
          <h1><b>Fecha: {{appointment.date | date: 'dd/MM/yyyy'}}</b></h1>
          <h2><b>{{appointment.initialHour == 0 ? '00' : appointment.initialHour}}:{{appointment.initialMinute == 0 ? '00' : appointment.initialMinute}} -
              {{appointment.finalHour == 0 ? '00' : appointment.finalHour}}:{{appointment.finalMinute == 0 ? '00' : appointment.finalMinute}}</b></h2>
          <div *ngIf="appointment.customerId != ''">
            <div class="card-title">Cliente: {{appointment.customerId}}</div>
            <div class="card-title">Servicio: {{appointment.serviceId}}</div>
            <div class="card-title">Cliente: {{appointment.employeeId}}</div>
            <div class="card-title">Observaciones: {{appointment.observations}}</div>
          </div>

          <div *ngIf="appointment.customerId == undefined">
            <b>
              <h1 style="color:green">LIBRE</h1>
            </b>
          </div>

        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>