<ion-header>
    <ion-navbar color="primary" hideBackButton>
      <ion-buttons left>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Gestión de Empresa</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>    
  
    <div class="center">
      <ion-card *ngFor="let company of this.companyPProvider.companyList | async; let i = index" (click)="editCompany(company)">
        <!-- <img [src]="restaurante.imagenes[0]"> -->
        <div class="card-title">Nombre: {{ company.name }}</div>
        <div class="card-title">Teléfono: {{ company.phone }}</div>
        <div class="card-title">Información: {{ company.info }}</div>
        <div class="card-title">Horario Mañanas: {{ company.initialHourMorning }} - {{ company.finalHourMorning }}</div>
        <div class="card-title">Horario Tardes: {{ company.initialHourAfternoon }} - {{ company.finalHourAfternoon }}</div>
        <div class="card-title">Horario Fin de Semana: {{ company.initialHourWeekend }} - {{ company.finalHourWeekend }}</div>
      </ion-card>
    </div>
  
    <div *ngIf="(this.companyPProvider.companyList| async)?.length==0">
    <ion-fab bottom right>
      <button ion-fab color="secondary" (click)="addCompany()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </div>
     
  </ion-content>