<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card [style.backgroundColor]="'#eeeeee'" *ngFor="let appointment of appointmentByCustomer">
    <ion-card-content>
      <h1><b>Fecha: {{appointment.date | date: 'dd/MM/yyyy'}}</b></h1>
      <h6><b><i>{{appointment.date | dateStringPipe }}</i></b></h6>
      <h2><b>Hora: {{appointment.initialHour == 0 ? '00' : appointment.initialHour}}:{{appointment.initialMinute == 0 ?
          '00'
          : appointment.initialMinute}} -
          {{appointment.finalHour == 0 ? '00' : appointment.finalHour}}:{{appointment.finalMinute == 0 ? '00' :
          appointment.finalMinute}}</b></h2>
      <h2>Servicio: {{appointment.serviceId}}</h2>
      <div class="card-title">Observaciones: {{appointment.observations}}</div>
    </ion-card-content>
  </ion-card>

  <div *ngIf="(this.appointmentByCustomer)?.length==0 && this.loadingContent == false">
    <ion-card class="background-red">
      <div class="center card-title">
        <h1 style="color:white">NO EXISTE NINGUNA CITA</h1>
      </div>
    </ion-card>
  </div>
</ion-content>